body {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}

header {
  background-color: #74875B;
  margin-top: 0;
  color: rgb(36, 35, 35);
  text-align: center;
  height: 50px;
  margin: 0;
  font-weight: 100;
}

header h1 {
    margin: 0;
}

h2 {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

h2::before {
    content: "";
    width: 9px;
    height: 19px;
    background-color: #607257;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.splash {
  height: 100vh;
  background-image: url("splas.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  position: relative;
}

.splash h3 {
  margin-top: 50px;
}

.splash-image {
  width: 100%;
  height: auto;
}

.date {
  height: 148px;
  width: 148px;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin: 20px;
  font-size: 18px;
  padding: 5px;
  margin-left: auto;
  box-shadow: 10px 10px 40px rgb(49, 48, 48);
  bottom: 1.25rem;
  right: 1.25rem;
  position: absolute;
}

.welcome {
  text-align: center;
  padding: 20px;
  background-color: #74875B;
  height: 50vh;
  align-content: center;
}

.welcome-text {
  background-color: white;
  margin: auto;
  width: 60%;
  padding: 10px;
  line-height: 1.5;
}

.schedule {
  text-align: center;
  padding: 20px;
}

.schedule-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.schedule-box img {
  width: 90%;
  height: auto;
  margin-left: 0;
}

.schedule-time {
  display: flex;
  flex-direction: column;

}

.seating-chart {
  text-align: center;
  padding: 20px;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 40vh;
  background-color: #6a7c53;
  border-radius: 15px;
}

.table-btn {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #74875B;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgba(49, 48, 48, 0.3);
}

.menu {
  text-align: center;
  padding: 20px;
  list-style: none;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu li {
  margin: 20px 0;
}

.location {
  text-align: center;
  padding: 20px;
}

.location button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #b4a543;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 30px rgba(49, 48, 48, 0.5);
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

button {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
  font-style: normal;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #74875B;
  min-height: 20vh;
}

footer button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #74875B;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

/* MODAL STYLES */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  width: 420px;
  height: 260px;
  background: rgba(255, 255, 255);
  padding-left: 110px;
  padding-right: 110px;
}

.table-visual {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 230px;
  transform: translate(-50%, -50%);
  background: #74875B;
  border-radius: 12px;
}

.seats {
  position: absolute;
  left: 0;
  right: 0;
  gap: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  pointer-events: auto;
  box-sizing: border-box;
}




.seats .side {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}


.seat {
  background: white;
  padding: 3px 3px;
  border-radius: 10px;
  font-size: 14px;
  white-space: nowrap;
  max-width: 160px;
  text-align: center;
  
}

.seats .side:first-child {
  align-items: flex-end;
  padding-right: 16px;
}

.seats .side:last-child {
  align-items: flex-start;
  padding-left: 16px;
}

