body {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}

header {
  background-color: #80b764;
  margin-top: 0;
  color: black;
  text-align: center;
  height: 50px;
  margin: 0;
  font-weight: 100;
}

header h1 {
    margin: 0;
}

h2 {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

h2::before {
    content: "";
    width: 9px;
    height: 19px;
    background-color: #607257;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.splash {
  height: 100vh;
  background-image: url("splas.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  position: relative;
}

.splash-image {
  width: 100%;
  height: auto;
}

.date {
  height: 148px;
  width: 148px;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin: 20px;
  font-size: 18px;
  padding: 5px;
  margin-left: auto;
  box-shadow: 10px 10px 40px rgb(49, 48, 48);
  bottom: 1.25rem;
  right: 1.25rem;
  position: absolute;
}

.welcome {
  text-align: center;
  padding: 20px;
  background-color: #80b764;
  height: 50vh;
  align-content: center;
}

.welcome-text {
  background-color: white;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.schedule {
  text-align: center;
  padding: 20px;
}

.schedule-image {
  margin-top: 0px;
  width: 100%;
  height: auto;
}

.schedule-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.schedule-box img {
  width: 200px;
  height: auto;
  margin-left: 0;
}

.schedule-time {
  display: flex;
  flex-direction: column;

}

.seating-chart {
  text-align: center;
  padding: 20px;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table {
  width: 20%;
  height: 40vh;
  background-color: #80b764;
  align-content: space-evenly;
  border-radius: 15px;
}

.table-btn {
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #80b764;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

.menu {
  text-align: center;
  padding: 20px;
  list-style: none;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu li {
  margin: 20px 0;
}

.location {
  text-align: center;
  padding: 20px;
}

.location button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d1d87f;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 50px;
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

button {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
  font-style: normal;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #80b764;
  min-height: 20vh;
}

footer button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #80b764;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}